body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #02a0e9;
    overflow: hidden;
}

.flex-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #DED3BC;
}

.form-wrap {
    border: 3px solid #fff;
    width: 60vw;
    max-width: 800px;
    height: 60vh;
    color: #fff;
    text-align: center;
    background-color: #02a0e9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    border-radius: 5px;

}

.login {
    text-transform: uppercase;
    font-size: 2em;
    margin: 1vh 1vh;
}

.submit {
    margin: 2vh;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1vh 2vw;
    color: #fff;
    background-color: #FB8C00;
}

.username, .password {
    width: 100%;
}

.username-field-wrap, .password-field-wrap {
    max-width: 200px;
}

.username-label-wrap, .password-label-wrap {
    text-align: left;
}

.form-content-wrap {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.error-user-pass, .not-me {
    font-style: italic;
    color: #000;
}



.bg-image {
    display: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1000000;
}

.prog-bar {
    position: absolute;
    z-index: 900;
    top: 0;
    right: 0;
    height: 3vh;
    display: flex;
    flex-direction: row;
    padding: 1vh;
    background-color: rgba(255, 255, 255, .8);
    border-bottom-left-radius: 5px;
    border-left: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
}

.prog-fish {
    display: block;
    height: 100%;

}


/*  Preloader  */

p {
    line-height: 1.33em;
    color: #7E7E7E;
}

h1 {
    color: #EEEEEE;
}

#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* After Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); 

    -webkit-transition: all 0.7s 0.3s ease-out;  
            transition: all 0.7s 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);

    -webkit-transition: all 0.7s 0.3s ease-out;  
            transition: all 0.7s 0.3s ease-out;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}

/*  End Of Preloader  */

/* Fish Style */

.fish {
    z-index: 800;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,.3));
}

/* Help */
.help {
    position: absolute;
    z-index: 900;
    width: 6vh;
    min-width: 20px;
    min-height: 20px;
    height: 6vh;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

#tooltip {
    position: absolute;
    top: 6vh;
    left: 2vw;
    z-index: 900;
    background: rgba(255, 255, 255, .8);
    padding: 3vh;
    width: 70vw;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    max-height: 900px;
    max-width: 900px;
}

.logout {
    color: #000;
    font-style: italic;
}

.login-logo {
  width: 40vw;
  max-width: 250px;
  height: auto;
  display: block;  
  max-height: 150px;
}

.authors {
    color: #000;
    margin-top: 3vh;
    font-style: italic;
}