body, html {
    padding: 0;
    margin: 0;
    
}

.wrap {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #02a0e9;
    overflow: hidden;
}

.bg-image {
    display: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1000000;
}

.prog-bar {
    position: absolute;
    top: 0;
    right: 0; 
    border: 2px solid black;
    width: 15vh;
    height: 3vh;
}

.prog-fish {
    display: block;
    height: 100%;
    stroke-width: 2px;
    fill: none;
    filter: invert(19%) sepia(78%) saturate(6660%) hue-rotate(358deg) brightness(99%) contrast(124%);
}