body, html {
    padding: 0;
    margin: 0;
    
}

.wrap {
    height: 100vh;
    position: relative;
    background-color: #02a0e9;
}

.bg-image {
    display: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}